@using Microsoft.AspNetCore.Identity
@inject SignInManager<IdentityUser> signinManager

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] - Fun_Olympic_Broadcaster</title>
    <link rel="stylesheet" href="~/bwatch/BootsWatch.css" />
    <link rel="stylesheet" href="~/css/site.css" asp-append-version="true" />
    <link rel="stylesheet" href="~/Fun_Olympic_Broadcaster.styles.css" asp-append-version="true" />

    <link rel="stylesheet" href="//cdn.datatables.net/1.12.1/css/jquery.dataTables.min.css" />
</head>
<body>
    <header>

        
        <nav class="navbar navbar-expand-lg navbar-dark bg-primary">
            <div class="container-fluid">
                <a class="navbar-brand" asp-area="" asp-controller="Home" asp-action="Index">
                    <img src="~/Img/Logo1.jpg" width="40" height="40" class="d-inline-block align-top" alt="">

                    Fun Olympic 2022</a>
                <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target=".navbar-collapse" aria-controls="navbarSupportedContent"
                        aria-expanded="false" aria-label="Toggle navigation">
                    <span class="navbar-toggler-icon"></span>
                </button>
                <div class="navbar-collapse collapse d-sm-inline-flex justify-content-between">
                    <ul class="navbar-nav flex-grow-1">
                        <li class="nav-item">
                            <a class="nav-link text-dark" asp-area="" asp-controller="Home" asp-action="Index">Home</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link text-dark" asp-area="" asp-controller="Home" asp-action="Privacy">Privacy</a>
                        </li>

                        <li class="nav-item">
                            <a class="nav-link text-dark" asp-area="" asp-controller="News" asp-action="NewsPublic">News and Notices</a>
                        </li>
                        <li class="nav-item">
                             @if (signinManager.IsSignedIn(User))
                             
                    {
                            <a class="nav-link text-dark" asp-area="" asp-controller="Home" asp-action="VideoGrid">Watch Games</a>
                    }
                    else{
                                <a class="nav-link text-dark" asp-area="Identity" asp-page="/Account/Login">Watch Games</a>


                    }
                        </li>

                        <li class="nav-item">
                            @if (signinManager.IsSignedIn(User))

                            {
                                <a class=" btn nav-link text-dark" asp-area="" asp-controller="Live" asp-action="Index">Live</a>
                            }
                            else
                            {
                                <a class="nav-link text-dark" asp-area="Identity" asp-page="/Account/Login">Live</a>


                            }

                        </li>
                    </ul>



                    
                    @if (signinManager.IsSignedIn(User) && User.IsInRole("admin"))
                    {

                        <div class="dropdown dropstart text-end">
                            <button type="button" class="btn btn-primary dropdown-toggle" data-bs-toggle="dropdown">
                                Admin Section
                            </button>
                            <ul class="dropdown-menu">
                                <li><a class="dropdown-item" asp-area="" asp-controller="Users" asp-action="Index">Manage Users</a></li>
                                <li><a class="dropdown-item" asp-area="" asp-controller="VideoUpoads" asp-action="Index">Manage Game Videos</a></li>
                                <li><a class="dropdown-item" asp-area="" asp-controller="LiveVideos" asp-action="Index">Manage Live Broadcast</a></li>
                               <li><a class="dropdown-item" asp-area="" asp-controller="News" asp-action="Index">Create News</a></li>

                            </ul>
                        </div>
                    }
                    <partial name="_LoginPartial" />
                </div>
            </div>
        </nav>
    </header>
    <div class="container-fluid">
        <main role="main" class="pb-3">
            @RenderBody()
        </main>
    </div>

    <footer class="border-top footer text-muted">
        <div class="container">
            &copy; 2022 - Fun_Olympic_Broadcaster - <a asp-area="" asp-controller="Home" asp-action="Privacy">Privacy</a>
        </div>
    </footer>
    <script src="~/lib/jquery/dist/jquery.min.js"></script>
    @*<script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>*@
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.1/dist/js/bootstrap.bundle.min.js" integrity="sha384-u1OknCvxWvY5kfmNBILK2hRnQC3Pr17a+RTT6rIHI7NnikvbZlHgTPOOmMi466C8" crossorigin="anonymous"></script>

    <script src="~/js/site.js" asp-append-version="true"></script>
    <script src="//cdn.datatables.net/1.12.1/js/jquery.dataTables.min.js"></script>
    <script type="text/javascript">
        $(document).ready(function () {
            $(".table").prepend($("<thead></thead>").append($(this).find("tr:first"))).dataTable();
        });
    </script>
    @await RenderSectionAsync("Scripts", required: false)
</body>
</html>
